body {
  color: #f0f2f5;

}

.cap {
  margin: 2rem;
}


.card-img, .card-img-bottom, .card-img-top {
  width: 50%;
}

img, embed, object, video {
  max-width: 100%;
  
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 5rem;
}
.accordion {
  margin: 7rem;
  margin-bottom: 10rem;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.alert-primary {
  margin: 7rem;
}

/* Declare heights because of positioning of img element */

/* Carousel image */
.carousel-inner > .carousel-item > img {
  width: 100%;
  border-radius: 1px;
  border-bottom-left-radius: 1px;
}


@media (max-width: 576px) {
  .carousel-inner > .carousel-item > img {
    height: 280px;
  }
  }

  @media (min-width: 768px) {
    .carousel-inner > .carousel-item > img {
      height: 400px;
    }
    }

    @media (min-width: 992px) {
      .carousel-inner > .carousel-item > img {
        height: 500px;
      }
      }

      @media (min-width: 1200px) {
        .carousel-inner > .carousel-item > img {
          height: 600px;
        }
        }

        @media (min-width: 1400px) {
          .carousel-inner > .carousel-item > img {
            height: 650px;
          }
          }

 


 
  

.carousel-caption {
  line-height: 1.43;
  font-weight: bold;
  text-shadow: 0 0 0.5em black,
    0 0 0.1em black,
    0 0 0.1em black;
  z-index: 0px;
  margin-bottom: -25px;
  margin-top: 0px;
  color: #ffffff;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* Carousel icone */
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 100% 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 > img{
  border-radius: 8rem;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.fw-normal {
  font-weight: 400!important;
  padding: 2rem;
}

.pb-2 {
  padding-bottom: 0.5rem!important;
  text-align: center;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
  }

  .orcamento {
    padding: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.orcamento > img {
  border-radius: 7rem;
}

/* rtl:end:remove */

/* footer */

.linkredes {
  text-align: center;
  padding: 1rem;
  justify-content: space-between;
}

.pb-2 {
    padding-bottom: 0.5rem!important;
    color: #00050c;
}

.h4, h4 {
    font-size: calc(1.275rem + .3vw);
    color: white;
}


.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: aliceblue;
    text-align: justify;
}

.h5, h5 {
    font-size: 1.25rem;
    color: aliceblue;
}


.fw-bold {
    color: #00050c;
    font-weight: 700 !important;
    text-align: center;
}

.text-body-emphasis {
  color: #00050c!important;
}

.bg {
  background-color: #00050c!important;
}


.text-muted {
  --bs-text-opacity: 1;
  color: rgb(245 248 251 / 75%)!important;
}

.fw-light {
  font-weight: 300!important;
  text-align: center;
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgb(245 248 251 / 75%)!important;
}

.lead {
  font-size: 12px;
  color: black;
}

/* footer */