body {
  color: #FFFFFF;
}


.navbar {
  background-color: #03071E;
  display: flex;
  justify-content: flex-end;
}

.navbar-brand {
  padding-left: 50px;
}

.navbar-expand-lg .navbar-collapse {
  padding-right: 60px;
  margin: 20px;
}



/*Extras*/

.card-img,
.card-img-bottom,
.card-img-top {
  width: 50%;
}

img,
embed,
object,
video {
  max-width: 100%;
}



/* Carousel image */

@media (max-width: 375px) {
  .banner_principal {
    background-color: #054f77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 8rem;
  }
  
  .carousel-inner > .carousel-item > img {
    height: 270px;
    width: 300px;
}
  .carousel-inner {
      position: absolute;
      width: 100%;
      overflow: hidden;
      border-radius: 7px;
      border-color: #F5F5F5;
      margin: 0rem;
      display: flex;
      align-items: center;
      text-align: center;
}
  .botao {
      color: #03071E;
      background-color: #0CC0DF;
      border-color: #0CC0DF;
      border-radius: 14px;
      font-size: 18px;
      margin: 2px;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding: 1rem;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      text-align: center;
      display: inline-block;
      text-decoration: none;
    } 

  .titulo__banner_inicio {
      font-weight: 600!important;
      color: #F5F5F5;
      text-align: center;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin-bottom: 3rem;
      font-size: 24px;
    }

  .titulo__banner {
      font-weight: 600!important;
      color: #F5F5F5;
      text-align: center;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin-bottom: 0rem;
      font-size: 20px;
    }

  .texto__banner {
      color: #F5F5F5;
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      font-size: 18px;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 600;
      text-align: justify;
      margin-bottom: 1.5rem;
      line-height: 1.875rem;
      display: block;
    }  
  .carousel-control-next-icon, .carousel-control-prev-icon {
      background-color: black;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .display {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: #03071E;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .text__destaques {
      display: flex;
      justify-content: baseline;
      align-items: flex-start;
      text-align: justify;
      font-size: 16px;
      margin: 2rem;
      color: #03071E;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
  }

@media (min-width: 376px) {

  .banner_principal {
    background-color: #054f77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 8rem;
  }
  
  .carousel-inner > .carousel-item > img {
    height: 270px;
    width: 300px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}
 .titulo__banner {
      font-weight: 600!important;
      color: #F5F5F5;
      text-align: center;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin-bottom: 0rem;
      font-size: 22px;
    }
  .titulo__banner_inicio {
      font-weight: 600!important;
      color: #F5F5F5;
      text-align: center;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin-bottom: 3rem;
      font-size: 24px;
    }

  .texto__banner {
      color: #F5F5F5;
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      font-size: 18px;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 600;
      text-align: justify;
      margin-bottom: 1.5rem;
      line-height: 1.875rem;
      display: block;
    }

  .botao {
      color: #03071E;
      background-color: #0CC0DF;
      border-color: #0CC0DF;
      border-radius: 14px;
      font-size: 18px;
      margin: 2px;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding: 1rem;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      text-align: center;
      display: inline-block;
      text-decoration: none;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
      background-color: black;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .display {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: #03071E;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .text__destaques {
      display: flex;
      justify-content: baseline;
      align-items: flex-start;
      text-align: justify;
      font-size: 16px;
      margin: 2rem;
      color: #03071E;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
  }

  @media(min-width: 576px){
    .banner_principal {
      background-color: #054f77;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0rem;
      margin-top: 8rem;
    }
    
  .carousel-inner > .carousel-item > img {
      height: 330px;
      width: 450px;
  }

  .carousel-inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    border-radius: 7px;
    border-color: #F5F5F5;
    margin: 0rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .titulo__banner {
    font-weight: 500!important;
    color: #F5F5F5;
    text-align: center;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 0rem;
    font-size: 28px;
  }

  .botao {
    color: #03071E;
    background-color: #0CC0DF;
    border-color: #0CC0DF;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 1rem;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    display: block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    margin-left: 1rem;
    margin-right: 0rem;
  }

  .display {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #03071E;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .text__destaques {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    text-align: justify;
    font-size: 19px;
    margin: 2rem;
    color: #03071E;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  }
  

@media(min-width: 768px){

  .banner_principal {
    background-color: #054f77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 9rem;
  }

  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 450px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}


.titulo__banner {
  font-weight: 500!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}

.botao {
  color: #03071E;
  background-color: #0CC0DF;
  border-color: #0CC0DF;
  border-radius: 10px;
  font-size: 22px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.display {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text__destaques {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  text-align: justify;
  font-size: 20px;
  margin: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
}

@media(min-width: 992px){
  .banner_principal {
    background-color: #054f77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 6rem;
  }

  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    width: 270px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  font-size: 12px;
}


  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 450px;
}

.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}


.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 26px;
}

.titulo__banner_inicio {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 3rem;
  font-size: 25px;
}

.botao {
  color: #03071E;
  background-color: #0CC0DF;
  border-color: #0CC0DF;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.display {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text__destaques {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  text-align: justify;
  font-size: 20px;
  margin: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
 }


@media(min-width: 1200px){
  .banner_principal {
    background-color: #054f77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 8rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    font-size: 16px;
  }

  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    width: 354px;
}
  .navbar-expand-lg .navbar-collapse {
    padding-right: 30px;
    margin: 10px;
  }

  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 530px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}
.botao {
  color: #03071E;
  background-color: #0CC0DF;
  border-color: #0CC0DF;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.display {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text__destaques {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  text-align: justify;
  font-size: 20px;
  margin: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

}

@media(min-width: 1400px){

  .banner_principal {
    background-color: #054f77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 8rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    font-size: 20px;
  }

  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 530px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}

.titulo__banner_inicio {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 3rem;
  font-size: 22px;
}

.botao {
  color: #03071E;
  background-color: #0CC0DF;
  border-color: #0CC0DF;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.display {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text__destaques {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  text-align: justify;
  font-size: 22px;
  margin: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
}

@media(min-width: 1600px){
  .banner_principal {
    background-color: #054f77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 8rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    font-size: 20px;
  }

  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 530px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}

.botao {
  color: #03071E;
  background-color: #0CC0DF;
  border-color: #0CC0DF;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.display {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text__destaques {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  text-align: justify;
  font-size: 22px;
  margin: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

}

@media(min-width: 1800px){

  .banner_principal {
    background-color: #054f77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 8rem;
  }

  .carousel-inner > .carousel-item > img {
    height: 400px;
    width: 600px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}

.titulo__banner_inicio {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 3rem;
  font-size: 28px;
}

.botao {
  color: #03071E;
  background-color: #0CC0DF;
  border-color: #0CC0DF;
  border-radius: 10px;
  font-size: 21px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.display {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text__destaques {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  text-align: justify;
  font-size: 24px;
  margin: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
}


.py-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.2em black,
    0 0 0.1em black,
    0 0 0.1em black;
    font-size: 18px;
}

.caption {
  position: absolute;
  right: 15%;
  bottom: 10px;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}


/* Banner-carrousel */


/* MARKETING CONTENT - Destaques
-------------------------------------------------- */


.pb-2 {
  padding-bottom: 0.5rem !important;
  text-align: center;
  color: #03071E;
}

.landing_page {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.sites_institucionais {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.aplicacao_de_web {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.card-text {
  text-align: justify;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  margin: 2rem;
}

.display_titulo {
  font-size: 36px;
  color: #03071E;
  margin: 2rem;
}

.texto_lead {
  color: #03071E;
  margin: 2rem;
  font-size: 22px;
  text-align: justify;
}

/* MARKETING CONTENT - Destaques
-------------------------------------------------- */


/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
/* Featurettes
------------------------- */




/* footer */
.footer_rodape {
  margin-top: -3rem;
}

.linkredes {
  text-align: center;
  padding: 1rem;
  justify-content: space-between;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
  color: #00050c;
}

.h4,
h4 {
  font-size: calc(1.275rem + 0.3vw);
  color: white;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: aliceblue;
  text-align: justify;
}

.h5,
h5 {
  font-size: 1.25rem;
  color: aliceblue;
}

.fw-bold {
  color: #00050c;
  font-weight: 700 !important;
  text-align: center;
}

.text-body-emphasis {
  color: #00050c !important;
}

.bg {
  background-color: #00050c !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: rgb(245 248 251 / 75%) !important;
}

.fw-light {
  font-weight: 300 !important;
  text-align: center;
}

.text-muted {
  --bs-text-opacity: 1;
  color: rgb(245 248 251 / 75%) !important;
}

.lead {
  font-size: 12px;
  color: black;
}

/* footer */



/*Página a empresa*/

.texto_empresa {
  margin-top: 12rem;
  margin-bottom: 2rem;
}

.sobre_nos {
  display: flex;
  justify-content: space-evenly;
}

.texto_sobrenos {
  text-align: justify;
  display: flex;
  text-align: justify;
}

.logomarcas {
  display: flex;
  align-items: center;
}

.carrousel_skylys {
  width: 50%;
  height: 50%;
}

/* stylelint-disable stylistic/selector-list-comma-newline-after */

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* prevent vertical scroll bar glitch */
html { overflow-y: scroll; }

.carousel {
 
  width: 100%;
  height: 200px;
  margin-left: 10px;
  margin-right: 0px;

  
}
.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 0px;
  background: #fff;
  border-radius: 5px;
  counter-increment: gallery-cell;
  border: #00050c;
  border: 1rem;
  border-radius: 5rem;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
}
.config_geral {
  margin-bottom: 10rem;
}
