body {
  color: #FFFFFF;
}


.navbar {
  background-color: #03071E;
  display: flex;
  justify-content: flex-end;
}

.navbar-brand {
  padding-left: 50px;
}

.navbar-expand-lg .navbar-collapse {
  padding-right: 60px;
  margin: 20px;
}



/*Extras*/

.card-img,
.card-img-bottom,
.card-img-top {
  width: 50%;
}

img,
embed,
object,
video {
  max-width: 100%;
}



/* Carousel image */

@media (max-width: 375px) {
  .banner_principal {
    background-color: #4C6BE0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  
  .carousel-inner > .carousel-item > img {
    height: 270px;
    width: 300px;
}
  .carousel-inner {
      position: absolute;
      width: 100%;
      overflow: hidden;
      border-radius: 7px;
      border-color: #F5F5F5;
      margin: 0rem;
      display: flex;
      align-items: center;
      text-align: center;
}
  .botao {
      color: #fff;
      background-color: #65BA77;
      border-color: #65BA77;
      border-radius: 14px;
      font-size: 18px;
      margin: 2px;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding: 1rem;
      font-family: "Montserrat";
      text-align: center;
      display: inline-block;
      text-decoration: none;
    } 

  .titulo__banner_inicio {
      font-weight: 600!important;
      color: #F5F5F5;
      text-align: center;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin-bottom: 3rem;
      font-size: 24px;
    }

  .titulo__banner {
      font-weight: 600!important;
      color: #F5F5F5;
      text-align: center;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin-bottom: 0rem;
      font-size: 20px;
    }

  .texto__banner {
      color: #F5F5F5;
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      font-size: 18px;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 600;
      text-align: justify;
      margin-bottom: 1.5rem;
      line-height: 1.875rem;
      display: block;
    }  
  .carousel-control-next-icon, .carousel-control-prev-icon {
      background-color: black;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

@media (min-width: 376px) {

  .banner_principal {
    background-color: #4C6BE0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: rem;
  }
  
  .carousel-inner > .carousel-item > img {
    height: 270px;
    width: 300px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}
 .titulo__banner {
      font-weight: 600!important;
      color: #F5F5F5;
      text-align: center;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin-bottom: 0rem;
      font-size: 22px;
    }
  .titulo__banner_inicio {
      font-weight: 600!important;
      color: #F5F5F5;
      text-align: center;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin-bottom: 3rem;
      font-size: 24px;
    }

  .texto__banner {
      color: #F5F5F5;
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      font-size: 18px;
      font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 600;
      text-align: justify;
      margin-bottom: 1.5rem;
      line-height: 1.875rem;
      display: block;
    }

  .botao {
      color: #fff;
      background-color: #65BA77;
      border-color: #65BA77;
      border-radius: 14px;
      font-size: 18px;
      margin: 2px;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding: 1rem;
      font-family: "Montserrat";
      text-align: center;
      display: inline-block;
      text-decoration: none;
    }
  }

  @media(min-width: 576px){
    .banner_principal {
      background-color: #4C6BE0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      margin-top: 4rem;
    }
    
  .carousel-inner > .carousel-item > img {
      height: 330px;
      width: 450px;
  }

  .carousel-inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    border-radius: 7px;
    border-color: #F5F5F5;
    margin: 0rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .titulo__banner {
    font-weight: 500!important;
    color: #F5F5F5;
    text-align: center;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 0rem;
    font-size: 28px;
  }

  .botao {
    color: #fff;
    background-color: #65BA77;
    border-color: #02B875;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 1rem;
    font-family: "Montserrat";
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    display: block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    margin-left: 1rem;
    margin-right: 0rem;
  }
  }
  

@media(min-width: 767px){

  .banner_principal {
    background-color: #4C6BE0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }

  
  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 450px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}


.titulo__banner {
  font-weight: 500!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}

.botao {
  color: #fff;
  background-color: #65BA77;
  border-color: #02B875;
  border-radius: 10px;
  font-size: 22px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
}

@media(min-width: 992px){
  .banner_principal {
    background-color: #4C6BE0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }

  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 450px;
}

.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}


.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 26px;
}

.titulo__banner_inicio {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 3rem;
  font-size: 25px;
}

.botao {
  color: #fff;
  background-color: #65BA77;
  border-color: #02B875;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
}

@media(min-width: 1200px){
  .banner_principal {
    background-color: #4C6BE0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }

  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 530px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}
.botao {
  color: #fff;
  background-color: #65BA77;
  border-color: #02B875;
  border-radius: 10px;
  font-size: 21px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
}

@media(min-width: 1400px){

  .banner_principal {
    background-color: #4C6BE0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }

  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 530px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}

.titulo__banner_inicio {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 3rem;
  font-size: 22px;
}

.botao {
  color: #fff;
  background-color: #65BA77;
  border-color: #02B875;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
}

@media(min-width: 1600px){
  .banner_principal {
    background-color: #4C6BE0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 6rem;
  }

  .carousel-inner > .carousel-item > img {
    height: 330px;
    width: 530px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}

.botao {
  color: #fff;
  background-color: #65BA77;
  border-color: #02B875;
  border-radius: 10px;
  font-size: 19px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
}


@media(min-width: 1800px){
  .carousel-inner > .carousel-item > img {
    height: 400px;
    width: 600px;
}
.carousel-inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
  border-color: #F5F5F5;
  margin: 0rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.titulo__banner {
  font-weight: 600!important;
  color: #F5F5F5;
  text-align: center;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 0rem;
  font-size: 28px;
}

.botao {
  color: #fff;
  background-color: #65BA77;
  border-color: #02B875;
  border-radius: 10px;
  font-size: 23px;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
  font-family: "Montserrat";
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
}


.py-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}



.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.2em black,
    0 0 0.1em black,
    0 0 0.1em black;
    font-size: 18px;
}


.caption {
  position: absolute;
  right: 15%;
  bottom: 10px;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

/* MARKETING CONTENT - Destaques
-------------------------------------------------- */


.pb-2 {
  padding-bottom: 0.5rem !important;
  text-align: center;
  color: #03071E;
}

.display {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.text__destaques {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  text-align: justify;
  font-size: 22px;
  margin: 2rem;
  color: #03071E;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.landing_page {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.sites_institucionais {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.aplicacao_de_web {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.card-text {
  text-align: justify;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  margin: 2rem;
}

.display_titulo {
  font-size: 36px;
  color: #03071E;
  margin: 2rem;
}

.texto_lead {
  color: #03071E;
  margin: 2rem;
  font-size: 22px;
  text-align: justify;
}

/* MARKETING CONTENT - Destaques
-------------------------------------------------- */


/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
/* Featurettes
------------------------- */


/* footer */
.footer_rodape {
  margin-top: -3rem;
}

.linkredes {
  text-align: center;
  padding: 1rem;
  justify-content: space-between;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
  color: #00050c;
}

.h4,
h4 {
  font-size: calc(1.275rem + 0.3vw);
  color: white;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: aliceblue;
  text-align: justify;
}

.h5,
h5 {
  font-size: 1.25rem;
  color: aliceblue;
}

.fw-bold {
  color: #00050c;
  font-weight: 700 !important;
  text-align: center;
}

.text-body-emphasis {
  color: #00050c !important;
}

.bg {
  background-color: #00050c !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: rgb(245 248 251 / 75%) !important;
}

.fw-light {
  font-weight: 300 !important;
  text-align: center;
}

.text-muted {
  --bs-text-opacity: 1;
  color: rgb(245 248 251 / 75%) !important;
}

.lead {
  font-size: 12px;
  color: black;
}

/* footer */

